:root{
    --primary-text-color: #555555;
    --secondary-text-color: #9DA4BD;
    --white-text-color: #ffffff;    
    --primary-background-color :#FFFFFF;
    --dark-background-color : #191C26;
    --secondary-background-color: #F7F7F7;
    --accent-color : #FF6C00;
    --dark-title-color: #303030;
    --gra: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));

}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body{
    font-family: 'Open Sans',sans-serif;
}
.suptitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}
.suptitle::before{
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    background-color: tomato;
    margin-right: 20px;

}
.title{
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}
.btn {
    min-width: 160px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
}
.section{
    padding-top: 120px;
padding-bottom: 120px;
outline: 1px solid greenyellow;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}
/* ============Header=========== */
.header {
    background-color:gray;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-container{
    display: flex;
    align-items: center;
} 
.header-nav {
display: flex;
align-items: center;  
}
.header-logo {
    margin-right: 131px;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
/* .header-item:not(:last-child) {
margin-right: 30px;
}  */

.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--white-text-color);   
}
.header-link:hover,
.header-link:focus{
    color: var(--accent-color);

}
.header-tel {
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
text-transform: uppercase;
margin-left: auto;
margin-right: 43px;
color: var(--white-text-color);
}
.header-tel:hover,
.header-tel:focus{
    color: var(--accent-color);

}
.header-btn {
padding:12px 20px;
color: var(--white-text-color);

}
.header-btn:hover,
.header-btn:focus{
    background-color: var(--accent-color);
    
}
/* ============Hero=============== */
.hero {

}
.hero-container{
    display: flex;
}
.hero-left-side {
}
.hero-list {
width: 100px;
}
.hero-item {
}
.hero-link {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
letter-spacing: 0.2em;
color: var(--dark-title-color);

}
.hero-link:hover,
.hero-link:focus{
    color: var(--accent-color);

}
.hero-right-side {
    background-color: #303030;
    background-image:var(--gra),
    url(../images/bg-hero.jpg);
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    padding: 252px 100px 208px ;
}
.hero-suptitle {
color: rgba(157, 164, 189, 0.6);
margin-bottom: 20px;
}
.hero-title {
font-family: 'Raleway';
font-size: 72px;
line-height: 1.18;
letter-spacing: 0.05em;
color: var(--white-text-color);
margin-bottom: 20px;

}
.hero-subtitle {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
max-width: 360px;

}
/* ================About================ */
.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-container{
    display: flex;
    gap: 30px;
}
.about-list {
    display: flex;
    gap: 30px;
    width: calc((100% - 30px) / 2);
    flex-shrink: 0;
}
.about-wrap{
    width: 460px;
}
.about-item {
width: calc((100% - 30px) / 2);
}
.about-suptitle {
    color: var(--dark-title-color); 
margin-bottom: 20px;
}
.about-title {
    color: var(--dark-title-color);
    margin-bottom: 20px;

}
.about-subtitle {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-bottom: 20px;

}
.about-text {
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.02em;
color: var(--primary-text-color);
margin-bottom: 42px;

}
.about-btn {
    color: var(--dark-title-color);

}
.about-btn:hover,
.about-btn:focus{ 
background-color: var(--accent-color);
color: var(--white-text-color);

}
/* ============Prices=============== */
.prices{
    background-color: var(--dark-title-color);

}
.prices-suptitle{
color: rgba(157, 164, 189, 0.6);
margin-bottom: 20px;
}
.prices-title{
    
    color: var(--white-text-color);
    margin-bottom: 42px;
    
}
.prices-wrap{
    display: flex;
justify-content: space-betweenmb20;
margin-bottom: 42px;
}
.prices-list{
width: calc((100% - 30px) / 2);
}
.prices-item{
    display: flex;
    justify-content: space-between;
}
.prices-item-text{
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--secondary-text-color);

}
.prices-btn{
color: var(--white-text-color);
display: block;
margin: 0 auto;


}
.prices-btn:hover,
.prices-btn:focus{
background-color: var(--accent-color);

}
/* =============BENEFITS========== */
.benefits {
    padding-bottom: 120px;
    padding-top: 120px;
}
.benefits-container{
    display: flex;
    padding-left: 85px;
    gap: 130px;
}
.benefits-list {
    display: flex;
    width: 370px;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.benefits-item{
    width: 170px;
    height: 133px;
    border: 1px solid #000000;
    padding: 20px 24px;
}
.benefits-item:nth-child(odd){
margin-right: 30px;
}
.benefits-item:nth-child(even){
margin-top: 30px;  
}

.benefits-item >span{
font-weight: 700;
font-size: 42px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.05em;
color: var(--dark-title-color);

}
.benefits-item-text {
font-weight: 600;
font-size: 11px;
line-height: 1.36;
text-align: center;
color: var(--dark-title-color);

}
.benefits-suptitle {
color: var(--dark-title-color);
margin-bottom: 20px;

}
.benefits-title {

color: var(--dark-title-color);
margin-bottom: 20px;
max-width: 430px;

}
.benefits-subtitle {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--primary-text-color);
max-width: 500px;

}
/* ===========Our barbers=========== */
.barbers {
    background-color: var(--secondary-background-color);
    padding-bottom: 120px;
    padding-bottom: 120px;
}
.barbers-suptitle {
    margin-left: 20px;
    margin-bottom: 20px;
    color: var(--dark-title-color);  

}
.barbers-title {
margin-bottom: 44px;
color: var(--dark-title-color);

}
.barbers-list {
display: flex;
gap: 30px;
}
.barbers-item {
width: calc((100% - 60px) / 3);   
}
.card-description{
    text-align: center;
}
.barbers-item-title {
margin-top: 30px;
margin-bottom: 8px;    
font-size: 18px;
line-height: 1.39;
letter-spacing: 0.02em;
color: var(--dark-title-color);

}
.barbers-item-text {
font-size: 14px;
line-height: 1.36;
letter-spacing: 0.02em;
color: var(--accent-color);
margin-bottom: 30px;

}

.barbers-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.barbers-soc-item {
    width: 44px;
    height: 44px; 
}
.barbers-soc-link {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
justify-content: center;
    border-radius: 50%;
}

.barbers-soc-link:hover,
.barbers-soc-link:focus{
    background-color: #303030;
}

.barbers-soc-link:hover .barbers-soc-icon,
.barbers-soc-link:focus .barbers-soc-icon{
    fill: var(--accent-color);
}

.barbers-soc-icon{
    fill: #303030; 
    }



/* ==========Gallery=========== */
.gallery-suptitle{
margin-bottom: 40px;
color: var(--dark-title-color);

}
.gallery-list{
display: flex;
gap: 30px;    
}
.gallery-item{
flex-basis: calc((100% - 90) / 4);   
}
/* ==========ONLINE=============== */
.online {
}
.online-title {
color: var(--white-text-color);
background-color: var(--dark-background-color);

}
/* ===============CONTACTS=========== */
.contacts {
    background-color: gray;
}
.contacts-title {
color: var(--white-text-color);

}
.contacts-address {
    font-style: normal;
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--secondary-text-color);

}
.contacts-link.bold {
    font-weight: 700;
}
.contacts-text {

    color: var(--white-text-color);  
}
.contacts-schedule {
font-size: 18px;
line-height: 1.67;
letter-spacing: 0.02em;
color: var(--secondary-text-color);

}
/* ============Footer=========== */
.footer {
}
.footer-suptitle {
    letter-spacing: 0.2em;
    color: var(--secondary-text-color);
    
}
.footer-list {
}
.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--dark-title-color);

}
